* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #DAF5FF;
    color: black;
}


/*Menu-----------------------------------------------------*/
.cabecalho_menu {
    width: 100%;
    display: flex;
}

.cabecalho_menu_logo {
    width: 20%;
    justify-self: left;
}

.cabecalho_menu_logo_imagem {
    width: 100%;
    height: auto;
}

.cabecalho_menu_nav {
    width: 60%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho_menu_imagens_icones {
    width: 20%;
    display: flex;
    justify-content: right;
}

.cabecalho_banner {
    width: 100%;
}

.cabecalho_banner_imagem {
    width: 100%;
    height: auto;
}

.button {
    background-color: #235d9e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 60px;
}

.button:hover {
    background-color: #154377;
    color: white;
}

.cabecalho_menu_nav_cursos:hover {
    .cabecalho_menu_nav_subMenu {
        visibility: visible;
        display: flex;
        flex-direction: column;
        width: 200px;
    }
}

.cabecalho_menu_nav_subMenu {
    position: absolute;
    visibility: hidden;
}

@media (max-width: 1350px) {
    .cabecalho_menu_logo {
        width: 50%;
        justify-self: left;
    }

    .cabecalho_menu {
        display: flex;
        flex-direction: row;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .cabecalho_menu_nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        padding-left: 20%;
        padding-right: 20%;
    }

    .button {
        width: 200px;
    }
}

@media (max-width: 600px) {

    .cabecalho_menu {
        display: flex;
        flex-direction: column;
        padding-top: 1%;
        padding-bottom: 1%;
        width: 100%;
    }

    .cabecalho_menu_logo {
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
        justify-self: center;
    }

    .cabecalho_menu_nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .cabecalho_menu_imagens_icones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding-top: 1%;
    }

    .button {
        width: 200px;
    }
}

/*Rodapé-----------------------------------------------------*/

.rodape {
    width: 100%;
    height: 50px;
    margin-top: 5%;
    background-color: blue;
}

.rodapediv {
    width: 100%;
    height: auto;
    padding-top: 25px;
    padding-bottom: 25px;

}

.rodape_texto {
    text-align: center;
    color: white;
}

/*Index-----------------------------------------------------*/
.conteudo {
    width: 100%;
}

.conteudo_historia {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo_historia_titulo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteudo_historia_texto {
    box-sizing: border-box;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

.conteudo_historia_imagem {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 3%;
}

.conteudo_depoimentos {
    width: 100%;
    padding-bottom: 5%;
    box-sizing: border-box;
}

.conteudo_depoimentos_titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.conteudo_depoimentos_depoimentos {
    display: flex;
    width: 100%;
    gap: 10%;

}

.conteudo_depoimentos_depoimentos_1 {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.conteudo_depoimentos_depoimentos_2 {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.conteudo_depoimentos_depoimentos_texto_1 {
    text-align: justify;
    width: 70%;
    padding-left: 3%;
}

.conteudo_depoimentos_depoimentos_imagem_1 {
    width: 30%;
    height: auto;
}

.conteudo_depoimentos_depoimentos_texto_2 {
    text-align: justify;
    width: 70%;
    padding-right: 2%;
}

.conteudo_depoimentos_depoimentos_imagem_2 {
    width: 30%;
    height: auto;
}

.conteudo_depoimentos_depoimentos_imagem_imagem {
    border-radius: 50%;
    height: auto;
}

@media (max-width: 1000px) {
    .conteudo_depoimentos_depoimentos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .conteudo_depoimentos_depoimentos_1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 5%;
        width: 50%;
    }

    .conteudo_depoimentos_depoimentos_2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .conteudo_depoimentos_depoimentos_texto_1 {
        padding: 0;
    }

    .conteudo_depoimentos_depoimentos_texto_2 {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .conteudo_depoimentos_depoimentos_texto_1 {
        padding: 0;
        width: 100%;
    }

    .conteudo_depoimentos_depoimentos_texto_2 {
        padding: 0;
        width: 100%;
    }

    .conteudo_depoimentos_depoimentos_imagem_1 {
        width: auto;
        height: auto;
    }

    .conteudo_depoimentos_depoimentos_imagem_2 {
        width: auto;
        height: auto;
    }
}

@media (max-width: 900px) {
    .conteudo_noticias {
        height: auto;
    }

}

.conteudo_noticias {
    width: 100%;
    height: auto;
}

.conteudo_noticias_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

.conteudo_noticias_noticias {
    display: flex;
    width: 100%;
    height: auto;
    gap: 5%;
}

.conteudo_noticias_noticias_1 {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: end;
    flex-direction: column;
}

.conteudo_noticias_noticias_2 {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
}

.conteudo_noticias_noticias_1_1 {
    width: 50%;
    align-items: right;
    justify-content: right;
    height: 400px;
}

.conteudo_noticias_noticias_1_2 {
    width: 50%;
    align-items: right;
    justify-content: right;
    height: 400px;
}

.conteudo_noticias_noticias_2_1 {
    width: 50%;
    align-items: left;
    justify-content: left;
    height: 400px;
}

.conteudo_noticias_noticias_2_2 {
    width: 50%;
    align-items: left;
    justify-content: left;
    height: 400px;
}

.conteudo_noticias_noticias_texto {
    text-align: justify;
    width: 80%;
}

.conteudo_noticias_noticias_1_1_imagem {
    width: 80%;
    height: auto;
}

.conteudo_noticias_noticias_1_2_imagem {
    width: 80%;
    height: auto;
}

.conteudo_noticias_noticias_2_1_imagem {
    width: 80%;
    height: auto;
}

.conteudo_noticias_noticias_2_2_imagem {
    width: 80%;
    height: auto;
}

.conteudo_noticias_noticias_1_1_imagem_imagem {
    width: 100%;
    height: 100%;
}


@media (max-width: 900px) {
    .conteudo_noticias_noticias_1_1_imagem {
        padding-top: 10%;
        height: auto;
        padding-left: 20%;
    }

    .conteudo_noticias_noticias_1_2_imagem {
        padding-top: 10%;
        height: auto;
        padding-left: 20%;
    }

    .conteudo_noticias_noticias_2_1_imagem {
        padding-top: 10%;
        height: auto;
    }

    .conteudo_noticias_noticias_2_2_imagem {
        padding-top: 10%;
        height: auto;
    }

    .conteudo_noticias_noticias_1_1 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .conteudo_noticias_noticias_1_2 {
        height: auto;
        width: 100%;
    }

    .conteudo_noticias_noticias_2_1 {
        height: auto;
        width: 100%;
    }

    .conteudo_noticias_noticias_2_2 {
        height: auto;
        width: 100%;
    }

    .conteudo_noticias_noticias_1_1_texto {
        padding-left: 20%;
    }

    .conteudo_noticias_noticias_1_2_texto {
        padding-left: 20%;
    }
}


/*Pagina cursos-------------------------------------------------------------*/

.conteudo_curso {
    width: 100%;
}

.conteudo_curso_cursos_titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.conteudo_curso_cursos_menu_nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.conteudo_curso_cursos_texto {
    width: 60%;
    align-items: center;
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}

.conteudo_curso_cursos_texto_titulo{
    width: 100%;
    text-align: center;
}

.conteudo_curso_cursos_imagem {
    width: 100%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media (max-width: 600px) {
    .conteudo_curso_cursos_menu_nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 0;
    }
}

/*Pagina localização-------------------------------------------------------------*/

.conteudo_localizacao {
    display: flex;
    justify-content: center;
    width: 100%;
}

.conteudo_localizacao_informacoes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.conteudo_localizacao_informacoes_mapa {
    width: 500px;
    height: 500px;
    padding-top: 5%;
    padding-bottom: 5%;
}

@media (max-width: 900px) {
    .conteudo_localizacao_informacoes_mapa {
        width: 100%;
        height: auto;
    }
}

/*Pagina fale_conosco-------------------------------------------------------------*/

.conteudo_faleConosco {
    display: flex;
    justify-content: center;
}

.conteudo_faleConosco_titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.conteudo_faleConosco_formulario {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;

}

.texto_forms {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

.subtitulo_tabela {
    text-align: center;

}

.tabela_forms {
    width: 100%;
}

.botoes_form {
    text-align: center;
}

input,
select,
textarea {
    width: 80%;
    border: 2px solid blue;
    border-radius: 4px;
    background-color: #9AC5F4;
}

input:hover,
select:hover,
textarea:hover {
    background-color: #8CABFF;
}

label {
    font-family: arial;
}

.td_forms {
    text-align: right;
}

/*Pagina tech_info-------------------------------------------------------------*/

.conteudo_techinfo {
    width: 100%;
}

.conteudo_techinfo_titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.conteudo_techinfo_texto {
    width: 60%;
    align-items: center;
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}

.conteudo_techinfo_imagem {
    width: 100%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.conteudo_techinfo_imagem_imagem {
    width: 60%;
}

/*Pagina tech_adm-------------------------------------------------------------*/

.conteudo_techadm {
    width: 100%;
}

.conteudo_techadm_titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.conteudo_techadm_texto {
    width: 60%;
    align-items: center;
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}

.conteudo_techadm_imagem {
    width: 100%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.conteudo_techadm_imagem_imagem {
    width: 60%;
}

/*Pagina tech_dev-------------------------------------------------------------*/

.conteudo_techdev {
    width: 100%;
}

.conteudo_techdev_titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.conteudo_techdev_texto {
    width: 60%;
    align-items: center;
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}

.conteudo_techdev_imagem {
    width: 100%;
    height: 600px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.conteudo_techdev_imagem_imagem {
    width: 60%;
    height: auto;
}



/*Pagina RS-TI-------------------------------------------------------------*/

.conteudo_rsti {
    width: 98%;
    padding: 1%;
}

.conteudo_rsti_titulo {
    width: 98%;
    padding: 1%;
    text-align: center;
}

.conteudo_rsti_subtitulo {
    width: 99%;
    padding: 1%;
    text-align: center;
}

.conteudo_rsti_video {
    width: 50%;
    height: auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.video {
    width: 100%;
    height: auto;
}

.conteudo_rsti_texto {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.conteudo_rsti_imagem {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media (max-width: 600px) {

    .conteudo_rsti_imagem {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

/*Pagina Jovem Aprendiz-------------------------------------------------------------*/

hr {
    color: blue;
    background-color: blue;
    height: 10px;
}

.conteudo_JA_infos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.conteudo_JA_imagem {
    width: 60%;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.conteudo_JA_requisitos {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 5%;
}

.conteudo_JA_opor {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.imagem {
    width: 100%;
}

.conteudo_JA_sobre {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;

}

.conteudo_JA_sobre_imagem {
    width: 30%;
    text-align: center;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@media (max-width: 900px) {
    .conteudo_JA_requisitos {
        display: flex;
        flex-direction: column;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .conteudo_JA_sobre {
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;

    }

}

@media (max-width: 600px) {
    .conteudo_JA_sobre_imagem {
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .conteudo_JA_imagem {
        width: 80%;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

}